<a href="https://colab.research.google.com/github/demolakstate/bumble_bees_detection/blob/main/beemachine_semantic_information_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Analysis of Bumble bee species semantic/attribute description##

In [1]:
import pandas as pd

In [4]:
data = pd.read_excel("/content/Beemachine_Experiments_Logs.xlsx", sheet_name=None)

In [7]:
data.keys()

dict_keys(['Logs', 'Validation results - MobileNetV', 'Semantic Information', 'Correspondence', 'Key', 'Affinis', 'Auricomus', 'Bifarius', 'Bimaculatus'])

In [9]:
data_affinis = data['Affinis']

In [16]:
data_affinis.head()

   ID Head Anterior Scutum Inner-Alar Space Scutellum  ... T3 T4 T5  T6 Corbicular
0   1    B               Y                B         Y  ...  B  B  B   B        NaN
1   2    B               Y                B         Y  ...  Y  B  B   B        NaN
2   3    B               Y                B         Y  ...  B  B  B   B        NaN
3   4    B               Y                B         Y  ...  B  B  B   B        Yes
4   5    B               Y                B         Y  ...  B  B  B  B         NaN

[5 rows x 12 columns]

In [12]:
data_affinis.nunique()

ID                  500
Head                  2
Anterior Scutum       1
Inner-Alar Space      2
Scutellum             1
T1                    1
T2                    3
T3                    2
T4                    1
T5                    1
T6                    2
Corbicular            1
dtype: int64

In [13]:
data_affinis.dtypes

ID                   int64
Head                object
Anterior Scutum     object
Inner-Alar Space    object
Scutellum           object
T1                  object
T2                  object
T3                  object
T4                  object
T5                  object
T6                  object
Corbicular          object
dtype: object

In [14]:
data_affinis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                500 non-null    int64
 1   Head              249 non-null    object
 2   Anterior Scutum   250 non-null    object
 3   Inner-Alar Space  249 non-null    object
 4   Scutellum         249 non-null    object
 5   T1                248 non-null    object
 6   T2                249 non-null    object
 7   T3                248 non-null    object
 8   T4                248 non-null    object
 9   T5                247 non-null    object
 10  T6                247 non-null    object
 11  Corbicular        1 non-null      object
dtypes: int64(1), object(11)
memory usage: 47.0+ KB