<a href="https://colab.research.google.com/github/demolakstate/bumble_bees_detection/blob/main/beemachine_semantic_information_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Analysis of Bumble bee species semantic/attribute description##

In [82]:
import pandas as pd

In [83]:
data = pd.read_excel("/content/Beemachine_Experiments_Logs.xlsx", sheet_name=None)

In [84]:
data.keys()

dict_keys(['Logs', 'Validation results - MobileNetV', 'Semantic Information', 'Correspondence', 'Key', 'Affinis', 'Auricomus', 'Bifarius', 'Bimaculatus'])

In [85]:
data_affinis = data['Affinis']

In [86]:
data_affinis.rename(columns={'ID':'Image-ID', 'Anterior Scutum':'Anterior-Scutum', 'Inner-Alar Space':'Inner-Alar-Space'}, inplace=True)

In [87]:
data_affinis.set_index('Image-ID', inplace=True)

In [88]:
data_affinis.head()

         Head Anterior-Scutum Inner-Alar-Space Scutellum  ... T4 T5  T6 Corbicular
Image-ID                                                  ...
1           B               Y                B         Y  ...  B  B   B        NaN
2           B               Y                B         Y  ...  B  B   B        NaN
3           B               Y                B         Y  ...  B  B   B        NaN
4           B               Y                B         Y  ...  B  B   B        Yes
5           B               Y                B         Y  ...  B  B  B         NaN

[5 rows x 11 columns]

### Optimize for memory efficiency ###

In [89]:
data_affinis['Corbicular'].str.lower()

Image-ID
1      NaN
2      NaN
3      NaN
4      yes
5      NaN
      ...
496    NaN
497    NaN
498    NaN
499    NaN
500    NaN
Name: Corbicular, Length: 500, dtype: object

In [91]:
data_affinis['Corbicular'].str.strip().str.lower().str.replace("yes", 'True')
data_affinis['Corbicular'].str.strip().str.lower().str.replace("no", 'False')

Image-ID
1      NaN
2      NaN
3      NaN
4      yes
5      NaN
      ...
496    NaN
497    NaN
498    NaN
499    NaN
500    NaN
Name: Corbicular, Length: 500, dtype: object

In [92]:
data_affinis['Corbicular'] = data_affinis['Corbicular'].astype("bool")
data_affinis['Head'] = data_affinis['Head'].astype("category")

In [93]:
data_affinis.nunique()

Head                2
Anterior-Scutum     1
Inner-Alar-Space    2
Scutellum           1
T1                  1
T2                  3
T3                  2
T4                  1
T5                  1
T6                  2
Corbicular          1
dtype: int64

In [94]:
data_affinis.nunique(dropna=False)

Head                3
Anterior-Scutum     2
Inner-Alar-Space    3
Scutellum           2
T1                  2
T2                  4
T3                  3
T4                  2
T5                  2
T6                  3
Corbicular          1
dtype: int64

In [95]:
data_affinis.dtypes

Head                category
Anterior-Scutum       object
Inner-Alar-Space      object
Scutellum             object
T1                    object
T2                    object
T3                    object
T4                    object
T5                    object
T6                    object
Corbicular              bool
dtype: object

In [96]:
data_affinis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Head              249 non-null    category
 1   Anterior-Scutum   250 non-null    object
 2   Inner-Alar-Space  249 non-null    object
 3   Scutellum         249 non-null    object
 4   T1                248 non-null    object
 5   T2                249 non-null    object
 6   T3                248 non-null    object
 7   T4                248 non-null    object
 8   T5                247 non-null    object
 9   T6                247 non-null    object
 10  Corbicular        500 non-null    bool
dtypes: bool(1), category(1), object(9)
memory usage: 40.1+ KB

## Visualizing attributes ##

In [ ]:
data_affinis.plot()