<a href="https://colab.research.google.com/github/demolakstate/bumble_bees_detection/blob/main/beemachine_semantic_information_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Analysis of Bumble bee species semantic/attribute description##

In [319]:
import pandas as pd

In [320]:
data = pd.read_excel("/content/Beemachine_Experiments_Logs.xlsx", sheet_name=None)

In [321]:
data.keys()

dict_keys(['Logs', 'Validation results - MobileNetV', 'Semantic Information', 'Correspondence', 'Key', 'Affinis', 'Auricomus', 'Bifarius', 'Bimaculatus'])

In [322]:
data_affinis = data['Affinis']

In [323]:
data_affinis.rename(columns={'ID':'Image-ID', 'Anterior Scutum':'Anterior-Scutum', 'Inner-Alar Space':'Inner-Alar-Space'}, inplace=True)

In [324]:
data_affinis.set_index('Image-ID', inplace=True)

In [325]:
data_affinis.head()

         Head Anterior-Scutum Inner-Alar-Space Scutellum  ... T4 T5  T6 Corbicular
Image-ID                                                  ...
1           B               Y                B         Y  ...  B  B   B        NaN
2           B               Y                B         Y  ...  B  B   B        NaN
3           B               Y                B         Y  ...  B  B   B        NaN
4           B               Y                B         Y  ...  B  B   B        Yes
5           B               Y                B         Y  ...  B  B  B         NaN

[5 rows x 11 columns]

### Optimize for memory efficiency ###

In [326]:
data_affinis['Corbicular'].fillna("False", inplace=True)

In [327]:
data_affinis['Corbicular'] = data_affinis['Corbicular'].str.strip().str.lower().str.replace("yes", "True")
data_affinis['Corbicular'] = data_affinis['Corbicular'].str.strip().str.lower().str.replace("no", "False")

In [328]:
data_affinis['Corbicular'] = data_affinis['Corbicular'].astype("category")
data_affinis['Head'] = data_affinis['Head'].astype("category")

In [329]:
data_affinis.head()

         Head Anterior-Scutum Inner-Alar-Space Scutellum  ... T4 T5  T6 Corbicular
Image-ID                                                  ...
1           B               Y                B         Y  ...  B  B   B      false
2           B               Y                B         Y  ...  B  B   B      false
3           B               Y                B         Y  ...  B  B   B      false
4           B               Y                B         Y  ...  B  B   B       true
5           B               Y                B         Y  ...  B  B  B       false

[5 rows x 11 columns]

In [330]:
data_affinis.nunique()

Head                2
Anterior-Scutum     1
Inner-Alar-Space    2
Scutellum           1
T1                  1
T2                  3
T3                  2
T4                  1
T5                  1
T6                  2
Corbicular          2
dtype: int64

In [331]:
data_affinis.nunique(dropna=False)

Head                3
Anterior-Scutum     2
Inner-Alar-Space    3
Scutellum           2
T1                  2
T2                  4
T3                  3
T4                  2
T5                  2
T6                  3
Corbicular          2
dtype: int64

In [332]:
data_affinis.dtypes

Head                category
Anterior-Scutum       object
Inner-Alar-Space      object
Scutellum             object
T1                    object
T2                    object
T3                    object
T4                    object
T5                    object
T6                    object
Corbicular          category
dtype: object

In [333]:
data_affinis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Head              249 non-null    category
 1   Anterior-Scutum   250 non-null    object
 2   Inner-Alar-Space  249 non-null    object
 3   Scutellum         249 non-null    object
 4   T1                248 non-null    object
 5   T2                249 non-null    object
 6   T3                248 non-null    object
 7   T4                248 non-null    object
 8   T5                247 non-null    object
 9   T6                247 non-null    object
 10  Corbicular        500 non-null    category
dtypes: category(2), object(9)
memory usage: 40.2+ KB

## Visualizing attributes ##

In [ ]:
data_affinis.plot()